.routes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  a.route {
    font-size: 18px;
    color: #fff;
    background: green;
    padding: 10px 30px;
    margin: 5px;
  }
}
